form {
  fieldset {
    border-radius: var(--commonBorderRadius);
    border-color: transparent;
    box-shadow: var(--boxShadow);
    padding: var(--medium);
  }
  .form-control {
    margin-bottom: var(--medium);
  }
}