.text-field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: var(--small);
  }
  input {
    flex: 1;
    background-color: var(--background2);
    border: none;
    padding: var(--medium);
    border-radius: var(--commonBorderRadius);
    color: var(--text1);
    &::placeholder {
      color: var(--text2);
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: var(--text2);
    }
    &::-ms-input-placeholder {
      color: var(--text2);
    }
    &::-webkit-calendar-picker-indicator {
      border-radius: 50%;
      filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg)
        brightness(95%) contrast(80%);
      cursor: pointer;
    }
  }
}
