@mixin sidebar-item() {
  padding: var(--medium) var(--medium);
}

@mixin sidebar-icon() {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--large);
  margin-right: var(--small);
}

.sidebar-container {
  width: 250px;
  position: fixed;
  height: 100%;
  box-shadow: var(--boxShadow);
  display: flex;
  flex-direction: column;
  left: 0;
  @media only screen and (max-width: 767px) {
    left: -99999px;
    transition: left linear 0.25s;
    &.open {
      left: 0;
      transition: left ease-in-out 0.25s;
    }
  }
  .sidebar-header {
    padding: 0 var(--medium);
  }
  .sidebar-content {
    .sidebar-item {
      a {
        @include sidebar-item();
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 100%;
        color: var(--text1);
        transition: all linear 0.25s;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid var(--primary);
        }
        &.active {
          color: var(--secondary);
          background-color: var(--background1);
          transition: all linear 0.25s;
        }
        p {
          margin: 0;
          width: 100%;
          padding: var(--small);
        }
        .sidebar-icon {
          @include sidebar-icon();
        }
      }
    }
  }
}
.sidebar-footer {
  box-shadow: var(--boxShadow);
  margin-top: auto;
  .sidebar-item {
    > div {
      @include sidebar-item();
    }
    .sidebar-item-option {
      & > button {
        margin-left: var(--small);
      }
    }
  }
}
