.table-container {
  position: relative;
  width: 100%;
  @media only screen and (min: 768px) {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
  }
  table {
    width: inherit;
    border-collapse: collapse;
    thead {
      position: sticky;
      top: 0;
      background-color: var(--background2);
    }
    thead,
    tbody {
      tr {
        th,
        td {
          text-align: left;
          word-wrap: break-word;
          &:first-child {
            padding-left: var(--medium);
          }
          &:last-child {
            padding-right: var(--medium);
          }
        }
      }
    }
    tbody {
      tr {
        td {
          position: relative;
          .row-options {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
          }
          &:first-child {
            border-left: 1px solid transparent;
          }
          &:last-child {
            border-right: 2px solid transparent;
          }
        }
        &:hover {
          td {
            border-top: 1px solid var(--secondary);
            border-bottom: 1px solid var(--secondary);
            &:first-child {
              border-left: 1px solid var(--secondary);
            }
            &:last-child {
              border-right: 2px solid var(--secondary);
            }
            .row-options {
              display: block;
            }
          }
        }
      }
    }
  }
}
