@use 'sass:math';

$spacings: (
  'space-between': space-between,
  'flex-start': flex-start,
  'flex-end': flex-end,
  'center': center,
);
@each $name, $justifyContent in $spacings {
  .#{$name} {
    display: flex;
    align-items: center;
    justify-content: $justifyContent;
  }
}

$radius: (
  'extra-small': 10,
  'small': 20,
  'medium': 40,
  'large': 80,
  'extra-large': 160,
);
@each $name, $size in $radius {
  .circle-#{$name} {
    display: block;
    height: #{$size}px;
    width: #{$size}px;
    border-radius: #{math.div($size, 2)}px;
    padding: 0;
    @extend .center;
  }
  .circle-flex-#{$name} {
    display: flex;
    height: #{$size}px;
    width: #{$size}px;
    border-radius: #{math.div($size, 2)}px;
    padding: 0;
    @extend .center;
  }
}

$zIndexes: (
  'sidebar': 10,
  'header': 5,
  'modal': 20,
  'alert': 30,
);
@each $name, $zIndex in $zIndexes {
  .zindex-#{$name} {
    z-index: $zIndex;
  }
}

$columns: (
  'two': 2,
  'three': 3,
);
@each $name, $column in $columns {
  .grid-#{$name} {
    display: grid;
    gap: var(--small);
    grid-template-columns: repeat($column, 1fr);
  }
}

:root {
  --primaryLight: #9c27b0;
  --secondaryLight: #00bcd4;
  --infoLight: #2196f3;
  --successLight: #4caf50;
  --warningLight: #ffeb3b;
  --errorLight: #f44336;
  --background1Light: #f5f5f5;
  --background2Light: #eeeeee;
  --text1Light: #424242;
  --text2Light: #9e9e9e;
  --boxShadowLight: 0 1px 15px 0 rgba(0, 0, 0, 0.12);

  --primaryDark: #ce93d8;
  --secondaryDark: #00bcd4;
  --infoDark: #2196f3;
  --successDark: #4caf50;
  --warningDark: #ffeb3b;
  --errorDark: #f44336;
  --background1Dark: #0a1929;
  --background2Dark: #061f3c;
  --text1Dark: #f5f5f5;
  --text2Dark: #6e6c6c;
  --boxShadowDark: 0 1px 15px 0 #495d67;

  --modalBackground: rgba(0, 0, 0, 0.4);

  --extraSmall: 0.25rem;
  --small: 0.5rem;
  --medium: 1rem;
  --large: 1.5rem;
  --extraLarge: 2rem;

  --commonBorderRadius: 3px;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: var(--primaryLight);
    --secondary: var(--secondaryLight);
    --info: var(--infoLight);
    --success: var(--successLight);
    --warning: var(--warningLight);
    --error: var(--errorLight);
    --background1: var(--background1Light);
    --background2: var(--background2Light);
    --text1: var(--text1Light);
    --text2: var(--text2Light);
    --boxShadow: var(--boxShadowLight);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: var(--primaryDark);
    --secondary: var(--secondaryDark);
    --info: var(--infoDark);
    --success: var(--successDark);
    --warning: var(--warningDark);
    --error: var(--errorDark);
    --background1: var(--background1Dark);
    --background2: var(--background2Dark);
    --text1: var(--text1Dark);
    --text2: var(--text2Dark);
    --boxShadow: var(--boxShadowDark);
  }
}

[color-scheme='light'] {
  --primary: var(--primaryLight);
  --secondary: var(--secondaryLight);
  --info: var(--infoLight);
  --success: var(--successLight);
  --warning: var(--warningLight);
  --error: var(--errorLight);
  --background1: var(--background1Light);
  --background2: var(--background2Light);
  --text1: var(--text1Light);
  --text2: var(--text2Light);
  --boxShadow: var(--boxShadowLight);
}

[color-scheme='dark'] {
  --primary: var(--primaryDark);
  --secondary: var(--secondaryDark);
  --info: var(--infoDark);
  --success: var(--successDark);
  --warning: var(--warningDark);
  --error: var(--errorDark);
  --background1: var(--background1Dark);
  --background2: var(--background2Dark);
  --text1: var(--text1Dark);
  --text2: var(--text2Dark);
  --boxShadow: var(--boxShadowDark);
}

$colors: (
  'primary': var(--primary),
  'secondary': var(--secondary),
  'info': var(--info),
  'success': var(--success),
  'error': var(--error),
);
@each $name, $color in $colors {
  .background-#{$name} {
    background-color: $color;
  }
  .border-#{$name} {
    border: 1px solid $color;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--background1);
  color: var(--text1);
}

#root {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-container {
  height: 100%;
}

[class$='-page-container'] {
  min-height: calc(100vh - 60px);
  padding-top: var(--extraSmall);
  @media only screen and (min-width: 768px) {
    padding-left: 250px;
  }
}

.selective-visible {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
  }
}

.card-collection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .card-container {
    margin: var(--small);
  }
}
