.card-container {
  &.medium {
    height: 375px;
    width: 250px;
    .card-avatar {
      height: 200px;
      width: 250px;
    }
  }
  &.small {
    height: 250px;
    width: 250px;
    .card-info {
      height: calc(100% - 50px);
    }
  }
  box-shadow: var(--boxShadow);
  border-radius: var(--commonBorderRadius);
  transform: scale(0.99);
  transition: all linear 0.25s;
  position: relative;
  .card-info {
    padding: var(--medium);
    font-weight: bold;
  }
  &:hover {
    transform: scale(1);
    transition: all ease-in-out 0.25s;
  }
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: all linear 0.25s;
  }
  &:hover {
    background-color: var(--background2);
    .card-overlay {
      transition: all ease-in-out 0.25s;
      display: block;
    }
  }
}